opt/
src/
._WPS_GEOG
._*
geog/
WPS_GEOG/
data/
plots/
work/
*.exe
*.o
*.mod
*.a
geo_em*
met_em*
FILE:*
PFILE:*
SFC:*
GRIBFILE*
ungrib.log
metgrid.log
geogrid.log
wrfout*
wrfrst*
wrfinput*
wrfbdy*
wrfprod*
rsl.*
*.log
__pycache__/
*.pyc
.env
*.tar.gz
*.tar
.conda/
namelist.output
.DS_Store
